<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/images/cydra.png" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">Administrador</p>
        </div>
      </div>
      <ul class="app-menu">
            <li><a class="app-menu__item" href="/panelProductos"><i class="app-menu__icon fa fa-circle-o"></i><span class="app-menu__label">Productos</span></a></li>
            <li><a class="app-menu__item" href="/panelVentas"><i class="app-menu__icon fa fa-circle-o"></i><span class="app-menu__label">Ventas</span></a></li>
            <li><a class="app-menu__item" href="/panelClientes"><i class="app-menu__icon fa fa-circle-o"></i><span class="app-menu__label">Clientes</span></a></li>
            <li><a class="app-menu__item" href="/Notificaciones"><i class="app-menu__icon fa fa-circle-o"></i><span class="app-menu__label">Notificaciones</span></a></li>
            <!--<li><a class="app-menu__item" href="/panelUsuarios"><i class="app-menu__icon fa fa-circle-o"></i><span class="app-menu__label">Usuarios</span></a></li>-->

      </ul>
    </aside>