    <!-- *** FOOTER ***
    _________________________________________________________ -->
    <div id="footer" data-animate="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>Pages</h4>

                    <ul>
                        <li>
                            <a href="text.html">About us</a>
                        </li>
                        <li>
                            <a href="text.html">Terms and conditions</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact us</a>
                        </li>
                    </ul>

                    <hr>

                    <h4>User section</h4>

                    <ul>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                        </li>
                        <li>
                            <a href="register.html">Regiter</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Top categories</h4>

                    <h5>Men</h5>

                    <ul>
                        <li>
                            <a href="category.html">T-shirts</a>
                        </li>
                        <li>
                            <a href="category.html">Shirts</a>
                        </li>
                        <li>
                            <a href="category.html">Accessories</a>
                        </li>
                    </ul>

                    <h5>Ladies</h5>
                    <ul>
                        <li>
                            <a href="category.html">T-shirts</a>
                        </li>
                        <li>
                            <a href="category.html">Skirts</a>
                        </li>
                        <li>
                            <a href="category.html">Pants</a>
                        </li>
                        <li>
                            <a href="category.html">Accessories</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Dónde encontrarnos</h4>

                    <p>
                        <strong>Mérida</strong>
                        <br>Calle 115 No. 404
                        <br>Santa Rosa
                        <br>Yucatán
                        <br>
                        <strong>México</strong>
                    </p>


                </div>
                <!-- /.col-md-3 -->



                <div class="col-md-3 col-sm-6">



                    <h4>Mantente en contacto</h4>

                    <p class="social">
                        <a href="https://www.facebook.com/zaflyingbisto/" class="facebook external" data-animate-hover="shake">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="gplus external" data-animate-hover="shake">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </p>


                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->

    <!-- *** FOOTER END *** -->

    <div id="copyright">
        <div class="container">
            <div class="col-md-6">
                <p class="pull-left">© 2018 Cyber Drache.</p>

            </div>

        </div>
    </div>
<!-- *** COPYRIGHT END *** -->

</div>


<!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
 <script src="/javascripts/minicart.js"></script>
 <script>
        
    //PAYPAL.apps.MiniCart.reset();
        paypal.minicart.render({
            
            strings:{
                button:'Pagar',
                buttonAlt: "Total",
                subtotal: 'Total:',
                empty: 'No hay productos en el carrito'
            },
            
            action: 'https://sandbox.paypal.com/cgi-bin/webscr'
        });


        paypal.minicart.cart.on('add', function (idx, product, isExisting) {
        if (isExisting) {
        product.set('quantity', 1);
        alert('Solo puedes agregar uno.');
    }
});



    </script>


<script src="javascripts/jquery-3.2.1.mins.js"></script>
<script src="javascripts/jquery-1.11.0.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.cookie.js"></script>
<script src="javascripts/waypoints.min.js"></script>
<script src="javascripts/modernizr.js"></script>
<script src="javascripts/bootstrap-hover-dropdown.js"></script>
<script src="javascripts/owl.carousel.min.js"></script>
<script src="javascripts/front.js"></script>

</body>

</html>