<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cyber Drache</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/animate.min.css" rel="stylesheet">
    <link href="stylesheets/owl.carousel.css" rel="stylesheet">
    <link href="stylesheets/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="stylesheets/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="stylesheets/custom.css" rel="stylesheet">

    <script src="javascripts/respond.min.js"></script>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



    

</head>
<body>

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

 <div id="copyright">
    <div class="container">

    </div>
</div>

 <div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand home" href="/" data-animate-hover="bounce">
                <img src="images/logo.png" alt="Obaju logo" class="hidden-xs">
                <img src="images/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Cyber Drache - Ir al Inicio</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>

                <a class="btn btn-default navbar-toggle" href="basket.html">
                    <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 items in cart</span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-left">
                <li class="inactive"><a href="/">Inicio</a>
                </li>
                <li class="inactive"><a href="/productos">Productos</a>
                </li>
                <li class="inactive"><a href="/acercade">Acerca de</a>
                </li>
                <li class="inactive"><a href="/login">Iniciar Sesión</a>
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->

        <div class="navbar-buttons">

            <div class="navbar-collapse collapse right" id="basket-overview">
                <!--<a href="javascript:paypal.minicart.view.show()" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm"></span></a>-->
                <script src="/javascripts/minicart.js"></script>

                <script src="/javascripts/minicart.js"></script>

                <a href="javascript:paypal.minicart.view.show()" class="btn btn-primary navbar-btn" role="button" onclick="paypal.minicart.view.show()"><i class="fa fa-shopping-cart"></i><span class="hidden-sm"></span></a>
                
            </div>
            <!--/.nav-collapse -->


        </div>

        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->

<!-- *** NAVBAR END *** -->
