<%- include layouts/header.ejs %>

<div id="all">

    <div id="content">
        <div class="container">

        <div class="col-sm-12" id="blog-listing">

            <ul class="breadcrumb">

                <li><a href="/">Inicio</a>
                </li>
                <li>Acerca De</li>
            </ul>

            <div class="post">
                <h2><p>¿Qué es Cyber Drache?</p></h2>

                <hr>
                <div class="image">
                    <a >
                        <center><img src="images/acercade.jpg" class="img-responsive" alt="Example blog post alt"/></center>
                    </a>
                </div>
                <p class="intro">Somos una empresa encargada de aportar manuales o tutoriales de utilidad a la comunidad informática o académica que los requiera.</p>
                <p class="intro">Nuestros manuales abarcan desde el desarrollo de software, hasta la aplicación de telecomunicaciones.</p>
            </div>
        </div>
    </div>
</div>

<%- include layouts/footer.ejs %>